
@font-face {
  font-family: 'black_jackregular';
  src: url('fonts/blackjack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
       url('fonts/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latobold_italic';
  src: url('fonts/lato-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/lato-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('fonts/lato-italic-webfont.woff2') format('woff2'),
       url('fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
       url('fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #FCF0F0;
  --color-bg-alpha: #FCF0F0cc;
  --color-bg-nav: #806D6D;
  --headings: #FFA1A3;
  --headings-dark: #D9898B;
  --font-size-xl: 4rem;
  --font-size-l: 1.9rem;
  --font-size-m: 1.5rem;
  --font-size-s: 1.15rem;
}

html {
  padding: 0;
  scroll-behavior: smooth;
}

html, body, ul, li {
  margin: 0;
  padding: 0
}

body {
  background: var(--color-bg);
  background-image: url('./img/hero.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'latoregular', sans-serif;
  padding: 0 2rem 4rem;
  overflow-y: scroll;
}

nav {
  top: 0;
  position: sticky;
  margin: 0 -2rem;

}

nav > ul {
  display: none;
  list-style-type: none;
  background: var(--color-bg-nav);
  width: 100vw;
  height: 100vh;
}

nav > button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 1rem;
  background: none;
  border: none;
}

nav li {
  color: var(--color-bg);
  padding: 1.5rem;
  font-family: 'black_jackregular', serif;
  font-size: var(--font-size-m);
}

nav li > a {
  color: var(--color-bg);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  nav {
    position: sticky;
  }
  nav > ul {
    display: flex;
    width: auto;
    height: auto;
  }
  nav > button {
    display: none;
  }

  nav > li {
    padding: 1.5rem;
  }

  .separator {
    flex-grow: 999;
  }
}


header, section {
  max-width: 920px;
  margin: 0 auto 4rem auto;
  padding: 0 3rem;
}

header p, header ul {
  
}
h1 {
  margin-top: 10vh;
}

.header-body {
  margin-top: 20vh;
  font-family: 'latoitalic';
  background: var(--color-bg-alpha);
  padding: 3rem
}

h1, h2, h3 {
  font-family: 'black_jackregular', serif;
  color: var(--headings-dark);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

p, li{
  font-size: var(--font-size-s);
  line-height: 1.8rem;
}