
@font-face {
  font-family: 'black_jackregular';
  src: url('fonts/blackjack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
       url('fonts/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latobold_italic';
  src: url('fonts/lato-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/lato-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('fonts/lato-italic-webfont.woff2') format('woff2'),
       url('fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
       url('fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'latolight';
  src: url('fonts/lato-light-webfont.woff2') format('woff2'),
       url('fonts/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latolight_italic';
  src: url('fonts/lato-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/lato-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



:root {
  --color-white: #Fff;
  --color-bg: #FCF0F0;
  --color-bg-alternative: #e8dada;
  --color-bg-alpha: #FCF0F0cc;
  --color-dark: #806D6D;
  --color-text: #473D3D;
  --headings: #FFA1A3;
  --headings-dark: #D9898B;
  --font-size-l: 1.9rem;
  --font-size-m: 1.5rem;
  --font-size-s: 1.15rem;
  --font-size-xs: 1rem;
}

html {
  padding: 0;
  scroll-behavior: smooth;
}

html, body, ul, li {
  margin: 0;
  padding: 0
}

body {
  background: var(--color-bg);
  font-family: 'latolight', sans-serif;
  padding: 0 0 4rem;
  overflow-y: scroll;
  color: var(--color-text)
}

nav {
  top: 0;
  position: sticky;

}

nav > ul {
  display: none;
  list-style-type: none;
  background: var(--color-white);
  width: 100vw;
  height: 100vh;
}

nav > button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 1rem;
  background: none;
  border: none;
}

nav > button > span {
  display: none;
}

nav > button::after {
  content: '☰';
  font-size: 1.7rem;
}

nav > button.opened::after {
  content: '⨯';
  font-size: 3rem;
}

nav li {
  color: var(--color-bg);
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

nav li > a {
  color: var(--color-dark);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  nav {
    position: sticky;
  }
  nav > ul {
    display: flex;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px var(--color-dark)
  }
  nav > button {
    display: none;
  }

  nav li {
    padding: 1.2rem;
  }

  .separator {
    flex-grow: 999;
  }
}


section {
  max-width: 920px;
  margin: 0 auto 4rem auto;
  padding: 0 3rem;
}

section:nth-child(odd) {
  background: var(--color-bg-alternative);
}

header {
  width: 100%;
  background-image: url('./img/hero.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'latolight_italic';
}

header > p {
  font-size: var(--font-size-l);
}

h1 {
  margin: 10vh auto 0 auto;
  background-image: url('./img/logo.svg');
  background-repeat: no-repeat;
  width: 195px;
  height: 188px;
}

h2, h3 {
  font-family: 'black_jackregular', serif;
  color: var(--headings-dark);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

p, li {
  font-size: var(--font-size-s);
  line-height: 1.8rem;
}

a[name=qui] ~ p:first-of-type::before {
  content: '';
  display: block;
  float: left;
  background-image: url('./img/melissa.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  width: 120px;
  height: 120px;
  border-radius: 99px;
  margin: 0 1rem 1rem 0;
}

.whatsapp, .facebook, .instagram {
  background-repeat: no-repeat;
  padding-left: 3rem;
}

.whatsapp {
  background-image: url('./img/whatsapp.svg');
}
.facebook {
  background-image: url('./img/facebook.svg');
}
.instagram {
  background-image: url('./img/instagram.svg');
}